header	{height:15%; width:auto; border-bottom:3px solid #CCC; padding: 7px; 
}

#logo, #marge {display: inline-block; width: 20%; vertical-align: middle
}

h1 {display: inline-block; text-align: center; margin-left: 8%; 
}

h5 {margin-left: 10%
}

section {width: auto; padding: 10px; 
}

#main {display: inline-block; max-width: 70%; text-align: left; margin-left: 2%;
}

footer {font-style: italic; border-top: 3px solid #CCC;  padding: 7px;
}

img {width: 75%; display: inline-block; 
}

listBibl {display:block; margin:1em; cursor:pointer; 
}

bibl {display:block; margin-bottom:0.5em; 
}

bibl *:hover {color:red; 
}

#type {font-weight:bold; 
}

.doi {color:blue; font-family:"DejaVu serif"; vertical-align:super; 
}

textarea {display: block; 
}

#explain {clear:both; 
}

pubplace {font-family:monospace; 
}

titre {color:green; 
}

publisher {color: purple;
}

pubplace {color: blue;
}

date {color: orange;
}

author {color:red; 
}

