<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Bilbo - web</title>
		<link href="./static/style.css" rel="stylesheet" media="all" type="text/css">
        </head>
	<body>
		<header>
			<div id="logo">			
				<img src="./static/logo_openeditionlab.jpg" alt="OpenEdition Lab">
				<h5> Open Edition Research & Developement</h5>
			</div>
			<h1>BILBO : Automatic reference labeling</h1>
		</header>
		<section>
			<div id="marge">
				<br>
				<br>
				<form method="GET" action="bilbo">
				<input type="submit" value="Get Back to Demo" id ="btn">
				</form>
			</div>
			<div id="main">
				<h3>Abstract</h3>
				BILBO is an open source software for automatic annotation of bibliographic reference.
				It provides the segmentation and tagging of input string. It is principally based on <a href=https://en.wikipedia.org/wiki/Conditional_random_field>Conditional Random Fields</a> (CRFs), machine learning technique to segment and label sequence data.
				As external softwares, <a href=https://wapiti.limsi.fr/>Wapiti</a> is used for CRF learning and inference and SVMlight is used for sequence classification.
				
				<h3>Contributors</h3>
				<ul>
					<li>Patrice Bellot (LSIS, Aix-Marseille University)</li>
					<li>Young-Min Kim (Korea Institute of Science and Technology Information(KISTI))</li>
					<li>Jade Tavernier</li>
					<li>Arnaud Cordier (Cléo, Aix-Marseille University)</li>
					<li>Anaïs Ollagnier (LSIS, Aix-Marseille University)</li>
				</ul>
				<h3>License</h3>
				BILBO is released under the terms of the <a href=http://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html>GPL version 2.</a>

				<h3>Code</h3>
				<a href=https://github.com/OpenEdition/bilbo> https://github.com/OpenEdition/bilbo</a>

				<h3>Documentation</h3>
				<ul>
					<li>Young-Min Kim, Patrice Bellot, Élodie Faath, and Marin Dacos. 2011. <a href=dl.acm.org/citation.cfm?id=2064068&dl=ACM&coll=DL&CFID=360604871&CFTOKEN=22482449>Automatic annotation of bibliographical reference in digital humanities books, articles and blogs</a>. In Proceedings of the CIKM 2011 BooksOnline11 Work- shop , pages 41–4</li>
					<li>Young-Min Kim, Patrice Bellot, Élodie Faath, and Marin Dacos. 2012. <a href=https://d05098a8-a-62cb3a1a-s-sites.googlegroups.com/site/yngmnkim/ref_ann_coria12.pdf?attachauth=ANoY7coeYuf732aNuc7U8DtM6W3Z6Pf87EPluMQpBMHyyzRouDMtgXFeGcKo-7m_uF4x1gS3xTzUVW5g3R5YyIQZo9hvpHIP13MIL7x-BbdMTZX120e5CQ7r1TcrHB0sOq4RjyIk2nSh2cLog12ddHCwC8RMXUHXVggNi0Mb1QoDnUAlwi1k0igwwFidW72oe0KhIpGPVqpY3dSvucUFwqhN5TRVsdh1pA%3D%3D&attredirects=1>Automatic annotation of incomplete and scattered bibliographical references in digital humanities papers</a>. In Proceedings of the COnfrence en Recherche d’Information et Applications (CORIA 2012).</li>
					<li>Young-Min Kim, Patrice Bellot, Élodie Faath and Marin Dacos.<a href=http://www.lrec-conf.org/proceedings/lrec2012/pdf/850_Paper.pdf> Annotated Bibliographical Reference Corpora in Digital Humanities</a>. Eighth international conference on Language Resources and Evaluation (LREC 2012), pp. 494 – 501.</li>
					<li>Young-Min Kim, Patrice Bellot, Élodie Faath and Marin Dacos.<a href=http://www.dh2012.uni-hamburg.de/conference/programme/abstracts/machine-learning-for-automatic-annotation-of-references-in-dh-scholarly-papers/> Machine Learning for Automatic Annotation of References in DH scholarly papers</a>. 16th international conference on Digital Humanities (DH 2012).</li>
					<li>Young-Min Kim, Patrice Bellot, Jade Tavernier, Élodie Faath and Marin Dacos. <a href=http://dl.acm.org/citation.cfm?id=2361400>Evaluation of BILBO Reference Parsing in Digital Humanities via a Comparison of Different Tools</a>. 12th ACM Symposium on Document Engineering (DocEng 2012), pp 209 – 212.</li>
				</ul>
				<h3>OpenEdion Lab</h3>
				Bilbo – Bibliographical Robot : <a href=http://lab.hypotheses.org/category/bilbo-bibliographical-robot>http://lab.hypotheses.org/category/bilbo-bibliographical-robot</a>
				<br>
				<br>
			</div>
		</section>
		<footer>
			OpenEdition Lab
		</footer>
	</body>
</html>
